@import "variables";

.resume {
  font-size: $font-size;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-resume {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // top/bottom and left/right
  padding: 40vh 35vw;
  border: 3px solid $font-new;
  span {
    font-size: $font-size - 20;
  }
  .inner-resume-href {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    // text to not be shown
    text-decoration: none;
    text-indent: -9999px;
    overflow: hidden;
  }
}

.inner-resume:hover {
  background-color: $outline;
}
