@import "socials";
@import "footer";
@import "resume";
@import "skills";
@import "title";
@import "projects";

@import "variables";

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Source Code Pro", sans-serif;
  color: $font;
  line-height: $line-height;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

a {
  text-decoration: none;
}

.App {
  background-color: $background;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
