/**
Color Palettes
#e0ece4 
#d8d3cd
#797a7e // Font
#f7f2e7 // Background
766161
**/
.socials {
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social-list {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.social-icon {
  width: 50px;
  height: 50px;
}

.social-item {
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0px;
}

.social-icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/**
Color Palettes
#e0ece4 
#d8d3cd
#797a7e // Font
#f7f2e7 // Background
766161
**/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 30px;
  padding: 10px;
  height: 10%;
}

.footer-name:hover {
  font-weight: 700;
}

/**
Color Palettes
#e0ece4 
#d8d3cd
#797a7e // Font
#f7f2e7 // Background
766161
**/
.resume {
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner-resume {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40vh 35vw;
  border: 3px solid #d8d3cd;
}

.inner-resume span {
  font-size: 20px;
}

.inner-resume .inner-resume-href {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-decoration: none;
  text-indent: -9999px;
  overflow: hidden;
}

.inner-resume:hover {
  background-color: #e1f1dd;
}

/**
Color Palettes
#e0ece4 
#d8d3cd
#797a7e // Font
#f7f2e7 // Background
766161
**/
.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 40px;
}

.skill-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.skill-info .skill-name {
  font-weight: 700;
}

.skill-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 40px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skill-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.skill-item {
  position: relative;
}

.skill-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #797a7e;
  -webkit-transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.skill-item:hover::before {
  left: 0;
  right: auto;
  width: 100%;
}

.skill-github {
  width: 25px;
  height: 25px;
}

/**
Color Palettes
#e0ece4 
#d8d3cd
#797a7e // Font
#f7f2e7 // Background
766161
**/
.title {
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.intro {
  padding: 40px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.link {
  position: relative;
}

.link::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #797a7e;
  -webkit-transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.link:hover::before {
  left: 0;
  right: auto;
  width: 100%;
}

.top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 40px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bottom-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.bottom-right .name {
  font-weight: 700;
}

/**
Color Palettes
#e0ece4 
#d8d3cd
#797a7e // Font
#f7f2e7 // Background
766161
**/
.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 40px;
}

.project-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.project-info .project-name {
  font-weight: 700;
}

.project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 40px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.project-item {
  position: relative;
}

.project-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #797a7e;
  -webkit-transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.project-item:hover::before {
  left: 0;
  right: auto;
  width: 100%;
}

.project-github {
  width: 25px;
  height: 25px;
}

/**
Color Palettes
#e0ece4 
#d8d3cd
#797a7e // Font
#f7f2e7 // Background
766161
**/
* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Source Code Pro", sans-serif;
  color: #797a7e;
  line-height: 47px;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

a {
  text-decoration: none;
}

.App {
  background-color: #f1ebdc;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
/*# sourceMappingURL=App.css.map */