$background: #f7f2e7;
$font: #797a7e;

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;
  color: $font;
  font-size: 40px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  scroll-snap-align: start;
}

.App {
  background-color: $background;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.top-left {
  position: relative;
  width: 150px;
  height: 325px;
  left: 150px;
  top: 150px;

  font-size: 40px;
  line-height: 47px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: right;
}

.bottom-right {
  position: relative;
  width: 920px;
  height: 281px;
  left: 450px;
  top: 600px;

  font-size: 40px;
  line-height: 47px;
  display: flex;
  align-items: center;
  text-align: right;
}
